env
*.pyc
*/migrations/*
!*/migrations/__init__.py
.env
db.sqlite3
media/profile_pictures/*
__pycache__/
/migrations/*.py
/migrations/*.pyc
/apps/*/migrations/*.py
!*/app/migrations/__init__.py
staticfiles
.vscode
dump.rdb
celerybeat-schedule
logs

